@import './variables.scss';

.Body {
  display: flex;
  width: 100%;
  justify-content: center;
  @media (max-width: $breakpointTablet) {
    justify-content: flex-start;
  }
  @media (max-width: $breakpointPhone) {
    justify-content: center;
  }
}

.Container {
  flex: 1;
  max-width: $containerMaxWidth;
  margin: 127px 40px 0 40px;
  @media (max-width: $breakpointTablet) {
    max-width: 756px;
    margin-top: 122px;
  }
  @media (max-width: $breakpointPhone) {
    margin-top: 112px;
  }
}

.Breadcrumbs {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: $mainDark;
  &__currentPage {
    font-weight: 600;
  }
  @media (max-width: $breakpointTablet) {
    font-size: 16px;
    line-height: 18px;
  }
  @media (max-width: $breakpointPhone) {
    font-size: 12px;
    line-height: 14px;
  }
}

.Title {
  font-size: 80px;
  line-height: 120px;
  color: $mainBlue;
  font-weight: 700;
  margin: 61px 0 0 0;
  @media (max-width: $breakpointTablet) {
    font-size: 60px;
  }
  @media (max-width: $breakpointPhone) {
    font-size: 40px;
    line-height: 40px;
  }
}

.preFormText {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #343434;
  max-width: 542px;
  @media (max-width: $breakpointTablet) {
    font-size: 16px;
  }
  @media (max-width: $breakpointPhone) {
    margin-top: 22px;
    max-width: calc(100vw - 93px);
  }
}

.blueText {
  color: $mainBlue;
  font-weight: 700;
}

.Form {
  margin-top: 120px;
  margin-bottom: 160px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $breakpointTablet) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  @media (max-width: $breakpointPhone) {
    margin-top: 80px;
  }
  &__2first {
    max-width: 741px;
    width: 100%;
    display: flex;
    gap: 30px;
    @media (max-width: $breakpointTablet) {
      gap: 20px;
    }
    @media (max-width: $breakpointPhone) {
      flex-direction: column;
      gap: 60px;
    }
  }
  &__inputs {
    max-width: 741px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__inputblock1 {
    flex: 1.55;
    @media (max-width: $breakpointTablet) {
      flex: 1.26;
    }
  }
  &__inputblock2 {
    flex: 1;
  }
  &__inputblock3 {
    margin-top: 60px;
    input {
      margin-top: 25px;
    }
  }
  &__privacy {
    margin-top: 31px;
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: $breakpointPhone) {
      margin-top: 35px;
    }
  }
  &__acceptPrivacy {
    width: 28px;
    height: 28px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    &::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background-color: $mainBlue;
      border-radius: 50%;
      top: 50%;
      left: 10px;
      transform: translate(0, -50%);
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__textPrivacy {
    margin-left: 20px;
    .blueText:hover {
      cursor: pointer;
    }
  }
}

@mixin forLabel {
  color: #ccc;
  font-weight: 300;
  font-size: 26px;
  line-height: 31px;
  &:after {
    content: ' *';
    color: red;
  }
}

.InputBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  &__label1,
  &__label2 {
    @include forLabel();
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    pointer-events: none;
  }
  &__label3 {
    @include forLabel();
  }
  input {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    font-size: 20px;
    &:focus {
      outline: none;
      & + label {
        transform: translateY(-25px);
        font-size: 16px;
        line-height: 18px;
        @media (max-width: $breakpointTablet) {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}

.SendButton {
  @media (max-width: $breakpointTablet) {
    margin-top: 62px;
    align-self: flex-start;
  }
  @media (max-width: $breakpointPhone) {
    margin-top: 35px;
    align-self: flex-start;
  }
}

.Dots {
  @include Dots;
  @media (max-width: 1340px) {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}
